@charset "utf-8";

@use "@pkt/scss/abstracts/variables" with ($font-path: "@oslokommune/punkt-assets/dist"
);

/* Bruk designsystemet */
@use "@pkt/scss/pkt";



.pkt-form {
    max-width: 400px;
    margin-top: 18px;
    color: white;
}

.pkt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pkt-btn--blue-light {
    background-color: var(--color-blue);
    color: var(--color-blue-dark);
}

.ol-list {
    max-width: 1150px;

    & li {
        margin-bottom: 1rem;
    }

    & span {
        font-weight: bold;
    }
}
