@charset "utf-8";

@use "@pkt/scss/abstracts/variables" with ($font-path: "@oslokommune/punkt-assets/dist"
);

/* Bruk designsystemet */
@use "@pkt/scss/pkt";

@use "sass:map";

@use "@pkt/scss/abstracts/mixins/breakpoints" as *;


.pkt-form {
    max-width: 400px;
    margin-top: 18px;
    color: white;
}

.pkt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pkt-btn--blue-light {
    background-color: var(--color-blue);
    color: var(--color-blue-dark);
}

ol {
    max-width: 1150px;

    & li {
        margin-bottom: 1rem;
    }

    & span {
        font-weight: bold;
    }
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;

    @include bp("tablet-up") {
        font-size: 4rem;
    }
}

h2 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    padding-top: 1rem;

    @include bp("tablet-up") {
        font-size: 2rem;
    }
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}

.responsive-image {
    width: 100%;
    max-width: 400px;
    height: auto;
}
